

<section class="row">

    <div class="row ms-1 mt-4">
      <app-custom-caroussel>

      </app-custom-caroussel>
    </div>

    <div class="row m-1">
      <div class="col-sm-1 col-md-2 col-lg-3">

      </div>
      <div class="col-sm-10 col-md-8 col-lg-6">
        <app-custom-card-news-details [newsId]="newsId">

        </app-custom-card-news-details>
      </div>

      <div class="col-sm-1 col-md-2 col-lg-3">

      </div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col-sm-1 col-md-2 col-lg-3">

      </div>
      <div class="col-sm-10 col-md-8 col-lg-6">
        <app-custom-card-leave-comment>

        </app-custom-card-leave-comment>
      </div>
      <div class="col-sm-1 col-md-2 col-lg-3">

      </div>
    </div>


</section>
