
<div class="container">
  <div class="row">
    <iframe  [src]="urlSafe"> </iframe>
    <!-- <img class="pt-2 pt-sm-0 pt-md-0 pt-lg-0 " src="./../../../assets/image/images17.jpg" style="width: 100%; max-width: 300px; height: auto;" alt="something"> -->
  </div>
  <h2 class="row text-center">
    {{video.alt_video}}
  </h2>
</div>

<!-- <div class="card m-2" > -->
  <!-- Sale badge-->
  <!-- style="height: 30%; width: 30%;" <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div> -->
  <!-- Product image-->
  <!-- <iframe  src="https://www.youtube.com/embed/lcZDWo6hiuI"> </iframe> -->
  <!-- <iframe  [src]="urlSafe"> </iframe> -->
  <!-- Product details-->
  <!-- <div class="card-body p-2"> -->
      <!-- <div class="text-center"> -->
          <!-- Product name-->
          <!-- <h5 class="fw-bolder">{{title}}</h5> -->
      <!-- </div> -->
  <!-- </div> -->
  <!-- Product actions-->
  <!-- <div class="card-footer p-1 pt-0 border-top-0 bg-transparent"> -->



  <!-- </div> -->
<!-- </div> -->

