


<div class="row bg-info p-2 mt-2">
  <div class="col-8 col-sm-9 col-md-9 col-lg-10">
    <span class="navbar-brand">© 2023 Stamm Ltd - All rights reserved.</span>
  </div>
  <div class="col-4 col-sm-3 col-md-3 col-lg-2">
    <div class="row">
      <div class="col-4 col-lg-4">
        <a class="nav-link" aria-current="page" href="{{links.facebook}}">
          <img src="../../../assets/icons/facebook.svg" alt="Facebook" title="Facebook">
        </a>
      </div>
      <div class="col-4 col-lg-4">
        <a class="nav-link" aria-current="page" href="{{links.instagram}}">
          <img src="../../../assets/icons/instagram.svg" alt="Instagram" title="Instagram">
        </a>
      </div>
      <div class="col-4 col-lg-4">
        <a class="nav-link" aria-current="page" href="{{links.whatsapp}}">
          <img src="../../../assets/icons/whatsapp.svg" alt="Wathsapp" title="Wathsapp">
        </a>
      </div>
    </div>
  </div>
</div>








