




<section class="row">
  <div class="row col-12 ms-1 pt-4 ">
    <app-custom-caroussel >

    </app-custom-caroussel>
  </div>

  <div class="row">
    <h1 class="m-2 text-center">
      {{siteDescription}}
    </h1>
    <p class="m-4 text-justify">
      {{accueilParagraphe}}
    </p>
  </div>


  <div class="row col-md-10 col-lg-8 offset-md-1 offset-lg-2 ">
    <div class="row">
      <h1 class="text-center text-bg-info" id="actualites" >
        <u>Actualites du jour</u>
      </h1>
    </div>

    <div class="col-12 col-sm-12 col-md-8 pt-2" >
      <div class="col-12 col-sm-12 col-md-12" *ngFor="let news of listNews">
        <app-custom-news-card [newsWithoutDetails]="news">

        </app-custom-news-card>
      </div>

      <div class="row">
        <nav aria-label="...">
          <ul class="pagination pagination-sm pagination-md justify-content-center">
            <li class="page-item">
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activepreviousFirstZone == true"
                      (click)="onclickPreviousButtonFirstZoneFunction()"
                      >
                <span aria-hidden="true"> precedent </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activepreviousFirstZone == false"
                      disabled>
                <span aria-hidden="true"> precedent </span>
              </button>
            </li>

            <li type="button" class="page-item active" aria-current="page">
              <button class="page-link" >
                {{numCurrentPageFirstZone}}
              </button>
            </li>

            <li class="page-item">
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextFirstZone == true"
                      (click)="onclickNextButtonFirstZoneFunction()"
                      >
                <span aria-hidden="true"> suivant </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextFirstZone == false"
                      disabled>
                <span aria-hidden="true"> suivant </span>
              </button>
            </li>
          </ul>
        </nav>
      </div>

    </div>
    <div class="col-sm-4 col-md-4 offset-sm-4 offset-md-0" >

      <div class="row mt-2">
        <app-custom-local-news [video]="listVideo[chooseVideo]">

        </app-custom-local-news>
      </div>
      <div class="row">
        <nav aria-label="...">
          <ul class="pagination pagination-sm pagination-md justify-content-center">
            <li class="page-item" >
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activePreviousFirstVideoZone == true"
                      (click)="onclickPreviousButtonFirstZoneVideoFunction()"
                      >
                <span aria-hidden="true"> precedent </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activePreviousFirstVideoZone == false"
                      disabled>
                <span aria-hidden="true"> precedent </span>
              </button>
            </li>



            <li class="page-item">
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextFirstVideoZone == true"
                      (click)="onclickNextButtonFirstZoneVideoFunction()"
                      >
                <span aria-hidden="true"> suivant </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextFirstVideoZone == false"
                      disabled>
                <span aria-hidden="true"> suivant </span>
              </button>
            </li>
          </ul>
        </nav>
      </div>

    </div>


  </div>

  <div class="row col-md-10 col-lg-8 offset-md-1 offset-lg-2  mt-3">
    <div class="row text-bg-info" id="insolites">
      <h1 class="text-center"> <u>  Insolites </u> </h1>
    </div>
    <div class="col-12 col-sm-12 col-md-8 pt-2" >
      <div class="col-12 col-sm-12 col-md-12" *ngFor="let news of listNewsZone2">
        <app-custom-news-card [newsWithoutDetails]="news">

        </app-custom-news-card>
      </div>

      <div class="row">
        <nav aria-label="...">
          <ul class="pagination pagination-sm pagination-md justify-content-center">
            <li class="page-item">
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activepreviousSecondZone == true"
                      (click)="onclickPreviousButtonSecondZoneFunction()"
                      >
                <span aria-hidden="true"> precedent </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activepreviousSecondZone == false"
                      disabled
                      >
                <span aria-hidden="true"> precedent </span>
              </button>
            </li>

            <li class="page-item active" aria-current="page">
              <button type="button" class="page-link" disabled> {{numCurrentPageSecondZone}} </button>
            </li>

            <li class="page-item">
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextSecondZone == true"
                      (click)="onclickNextButtonSecondZoneFunction()"
                      >
                <span aria-hidden="true"> suivant </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextSecondZone == false"
                      disabled
                      >
                <span aria-hidden="true"> suivant </span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 offset-sm-4 offset-md-0" >

      <div class="row mt-2">
        <app-custom-local-news [video]="firstExternalVideo">

        </app-custom-local-news>
      </div>

      <div class="row">
        <nav aria-label="...">
          <ul class="pagination pagination-sm pagination-md justify-content-center">
            <li class="page-item" >
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activePreviousSecondVideoZone == true"
                      (click)="onclickPreviousButtonSecondZoneVideoFunction()"
                      >
                <span aria-hidden="true"> precedent </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activePreviousSecondVideoZone == false"
                      disabled>
                <span aria-hidden="true"> precedent </span>
              </button>
            </li>



            <li class="page-item">
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextSecondVideoZone == true"
                      (click)="onclickNextButtonSecondZoneVideoFunction()"
                      >
                <span aria-hidden="true"> suivant </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextSecondVideoZone == false"
                      disabled>
                <span aria-hidden="true"> suivant </span>
              </button>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>

  <div class="row col-md-10 col-lg-8 offset-md-1 offset-lg-2  mt-3">
    <div class="row text-bg-info" id="lebuzz">
      <h1 class="text-center"> <u> Le buzz </u> </h1>
    </div>
    <div class="col-12 col-sm-12 col-md-8 pt-2" >
      <div class="col-12 col-sm-12 col-md-12"*ngFor="let news of listNewsZone3">
        <app-custom-news-card [newsWithoutDetails]="news">

        </app-custom-news-card>
      </div>

      <div class="row">
        <nav aria-label="...">
          <ul class="pagination pagination-sm pagination-md justify-content-center">
            <li class="page-item">
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activepreviousThirdZone == true"
                      (click)="onclickPreviousButtonThirdZoneFunction()"
                      >
                <span aria-hidden="true"> precedent </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activepreviousThirdZone == false"
                      disabled>
                <span aria-hidden="true"> precedent </span>
              </button>
            </li>

            <li type="button" class="page-item active" aria-current="page">
              <button class="page-link" >
                {{numCurrentPageThirdZone}}
              </button>
            </li>

            <li class="page-item">
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextThirdZone == true"
                      (click)="onclickNextButtonThirdZoneFunction()"
                      >
                <span aria-hidden="true"> suivant </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextThirdZone == false"
                      disabled>
                <span aria-hidden="true"> suivant </span>
              </button>
            </li>
          </ul>
        </nav>
      </div>

    </div>

    <div class="col-sm-4 col-md-4 offset-sm-4 offset-md-0" >

      <div class="row mt-2">
        <app-custom-local-news [video]="secondExternalVideo">

        </app-custom-local-news>
      </div>
      <div class="row">
        <nav aria-label="...">
          <ul class="pagination pagination-sm pagination-md justify-content-center">
            <li class="page-item" >
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activePreviousThirdVideoZone == true"
                      (click)="onclickPreviousButtonThirdZoneVideoFunction()"
                      >
                <span aria-hidden="true"> precedent </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Previous"
                      *ngIf="activePreviousThirdVideoZone == false"
                      disabled>
                <span aria-hidden="true"> precedent </span>
              </button>
            </li>

            <li class="page-item">
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextThirdVideoZone == true"
                      (click)="onclickNextButtonThirdZoneVideoFunction()"
                      >
                <span aria-hidden="true"> suivant </span>
              </button>
              <button type="button"
                      class="page-link"
                      aria-label="Next"
                      *ngIf="activeNextThirdVideoZone == false"
                      disabled>
                <span aria-hidden="true"> suivant </span>
              </button>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>




</section>

