<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <a [routerLink]="['/home/news',newsId]">
        <img class="pt-2 pt-sm-0 pt-md-0 pt-lg-0 " src="{{firstImage.lien_image}}" style="width: 100%; max-width: 300px; height: auto;" alt="something">
      </a>
    </div>
    <div class="col-6">
      <div class="row pt-sm-0">
        <h2>
          <a [routerLink]="['/home/news',newsId]">
            {{titleNews}}
          </a>
        </h2>
        <p>
          {{firstParagraphe}}
        </p>
        <p>
          <span *ngFor="let tag of listTag">{{ '#'+tag.texte }}</span>
        </p>
      </div>
    </div>
  </div>

</div>
