<div class="container d-flex justify-content-center mt-100 mb-100">
  <div class="row "  >
      <div class="col-md-12">

        <div class="card">
          <div class="card-header">
            <div  *ngIf="showZone == 'comment'">
              <form id="algin-form" [formGroup] = "messageForm" class="d-flex flex-row add-comment-section mt-4 mb-4">
                <!-- <img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38"> -->
                <textarea name="msg" id="msg" cols="30" rows="5" class="form-control mr-3" formControlName="message" ></textarea>
                <div class="alert alert-danger" style="margin: auto;" *ngIf="messageForm.get('message')?.invalid && (messageForm.get('message')?.dirty || messageForm.get('message')?.touched)" >

                  <div *ngIf="messageForm.get('message')?.errors?.['required']">
                    Un message svp.
                  </div>
                  <div *ngIf="messageForm.get('message')?.errors?.['minlength']">
                    Ce champ doit contenir au minimum 1 caracteres.
                  </div>

                </div>
                <button class="btn btn-primary" type="submit" style="height: 50px; margin: auto;" (click)="onClickSubmitMessageForm()" [disabled]="!messageForm.valid">
                  Commenter
                </button>
              </form>
              <p class="text-bg-info" style="text-align: center;">
                N'oubliez pas de liker
              </p>

            </div>

            <div *ngIf="showZone == 'register'">
              <form [formGroup] = "registerForm">
                <div class="d-flex flex-row add-comment-section mt-1">
                  <div class="col-12 form-floating">
                    <input type="text" name="name" id="pseudo" class="form-control" formControlName = "name" required>
                    <label for="pseudo">Pseudo</label>
                    <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)" class="alert alert-danger">

                      <div *ngIf="registerForm.get('name')?.errors?.['required']">
                        Le pseudo est obligatoire.
                      </div>
                      <div *ngIf="registerForm.get('name')?.errors?.['minlength']">
                        Ce champ doit contenir au minimum 6 caracteres.
                      </div>

                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row add-comment-section mt-1">
                  <div class="col-12 form-floating">
                    <input type="email" name="email" id="email" class="form-control" formControlName="email" required>
                    <label for="email">Email address</label>
                    <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="alert alert-danger">

                      <div *ngIf="registerForm.get('email')?.errors?.['required']">
                        L'email est requis.
                      </div>
                      <div *ngIf="registerForm.get('email')?.errors?.['email']">
                        Cette entree ne ressemble pas a un email.
                      </div>

                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row add-comment-section mt-1">
                  <div class="col-12 form-floating">
                    <input type="password" name="password" id="password" class="form-control" formControlName="password" required>
                    <label for="password">Password</label>
                    <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="alert alert-danger">

                      <div *ngIf="registerForm.get('password')?.errors?.['required']">
                        Le mot de passe est obligatoire.
                      </div>
                      <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
                        Ce champ doit contenir au minimum 6 caracteres.
                      </div>

                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row add-comment-section mt-1">
                  <div class="col-12 form-floating">
                    <input type="password" name="confirmPassword" id="confirm-password" class="form-control" formControlName="confirmPassword" required>
                    <label for="confirm-password">Password</label>
                    <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)" class="alert alert-danger">

                      <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
                        La confirmation du mot de passe est obligatoire.
                      </div>
                      <div *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']">
                        Ce champ doit contenir au minimum 6 caracteres.
                      </div>

                    </div>
                  </div>
                </div>
                <div class="m-2" *ngIf="passwordConfirmationPasswordError==true" class="alert alert-danger">
                  <span>Le mot de passe est different de la confirmation</span>
                </div>
                <div class="m-2" *ngIf="showRegisterErrorZone==true" class="alert alert-danger">
                  <span>Pseudo ou email deja existant</span>
                </div>
                <div class="d-flex flex-row add-comment-section mt-2 mb-2">
                  <div class="col-4 offset-3">
                    <button class="btn btn-primary" type="submit" (click)="onClickSubmitRegisterForm()" [disabled]="!registerForm.valid">
                      s'enregistrer
                    </button>
                  </div>
                  <div class="col-4 ">
                    <button class="btn btn-light" type="button" (click)="whenClickOnLoginButtonRegisterZone()">
                      se connecter
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <div *ngIf="showZone == 'login'">
              <form [formGroup] = "loginForm">
                <div class="d-flex flex-row add-comment-section mt-1">
                  <div class="col-12 form-floating">
                    <input type="email" name="email" id="email" class="form-control" formControlName = "email" required>
                    <label for="email">Email address</label>
                    <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" class="alert alert-danger">

                      <div *ngIf="loginForm.get('email')?.errors?.['required']">
                        L'email svp.
                      </div>
                      <div *ngIf="loginForm.get('email')?.errors?.['email']">
                        Ce champ doit etre un email.
                      </div>

                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row add-comment-section mt-1">
                  <div class="col-12 form-floating">
                    <input type="password" name="password" id="password" class="form-control" formControlName = "password" required>
                    <label for="password">Password</label>
                    <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="alert alert-danger">

                      <div *ngIf="loginForm.get('password')?.errors?.['required']">
                        Le mot de passe svp.
                      </div>
                      <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        Ce champ doit contenir au minimum 6 caracteres.
                      </div>

                    </div>
                    <div *ngIf="showLoginZoneError == true" class="m-2 alert alert-danger">
                      {{msgLoginError}}
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row add-comment-section mt-2 mb-2">
                  <div class="col-4 offset-3">
                    <button class="btn btn-primary" type="submit" (click)="onClickSubmitLoginForm()" [disabled]="!loginForm.valid">
                      se connecter
                    </button>
                  </div>
                  <div class="col-4 ">
                    <button class="btn btn-light" type="button" (click)="whenClickOnRegisterButtonLogimZone()">
                      s'enregistrer
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card-body">
              <h4 class="card-title">Commentaires recents</h4>
              <h6 class="card-subtitle">Derniers commentaires des utilisateurs</h6>
          </div>
          <div class="comment-widgets m-b-20 " style="overflow: scroll; overflow-x: hidden; height: 540px;">
              <div class="d-flex flex-row comment-row" *ngFor="let comment of listComments" style="background: linear-gradient(rgb(0, 221, 255),white);">
                  <div class="p-2">
                    <span class="round">
                      <img src="https://i.imgur.com/CFpa3nK.jpg" alt="user" width="50">
                    </span>
                  </div>
                  <div class="comment-text w-100">
                      <h5>{{comment["user"]['name']}}</h5>
                      <div class="comment-footer">
                          <span class="date">{{" "+comment["comment"]['created_at'] | date : 'medium' }}</span>
                      </div>
                      <p class="m-b-5 m-t-10">
                        {{comment.comment.avis}}
                      </p>
                  </div>
              </div>
          </div>
      </div>

      </div>
  </div>
</div>
