



<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Site d'information" />
    <meta name="author" content="Gamey" />
    <title>{{ title }}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="css/styles.css" rel="stylesheet" /> -->
  </head>
  <body>

    <header class="mb-1">
      <app-custom-header>

      </app-custom-header>
    </header>
    <div class="push-down">
      <router-outlet></router-outlet>
    </div>
    <footer>
      <app-custom-footer id="aproposdenous">

      </app-custom-footer>
    </footer>
  </body>
</html>
