
<div class="row mt-2">
  <h1 class="text-center">
    {{title}}
  </h1>
</div>
<div class="row">
  <div class="row">
    <p class="text-justify">
      {{firstParagraphe}}
    </p>
  </div>

  <div class="row">
    <img [src]="firstLienImage" [alt]="firstAltImage">
  </div>

  <div class="row">
    <p class="text-justify">
      {{secondParagraphe}}
    </p>
  </div>

  <div class="row">
    <img [src]="secondLienImage" [alt]="secondAltImage">
  </div>

  <div class="row">
    <p class="text-justify">
      {{thirdParagraphe}}
    </p>
  </div>

  <div class="row">
    <img [src]="thirdLienImage" [alt]="thirdAltImage">
  </div>

  <div class="row">
    <p class="text-justify">
      {{fourthParagraphe}}
    </p>
  </div>

  <div class="row">
    <div class="col-2 offset-4 text-success">
      <button class="btn" (click)="onClickLikeButton()" *ngIf="!disableLikeUnlikeButton" style="border: none;">
        <i class="bi-hand-thumbs-up-fill text-success" style="font-size: 2rem;"></i>
        <span class="p-2"> {{numLike}} </span>
      </button>
      <button class="btn" *ngIf="disableLikeUnlikeButton" style="border: none;" disabled>
        <i class="bi-hand-thumbs-up-fill text-success" style="font-size: 2rem;"></i>
        <span class="p-2"> {{numLike}} </span>
      </button>
    </div>
    <div class="col-2">
      <button class="btn" (click)="onClickUnlikeButton()" *ngIf="!disableLikeUnlikeButton" style="border: none;">
        <i class="bi-hand-thumbs-down-fill text-danger" style="font-size: 2rem;"></i>
        <span class="p-2"> {{numUnlike}} </span>
      </button>
      <button class="btn" *ngIf="disableLikeUnlikeButton" style="border: none;" disabled>
        <i class="bi-hand-thumbs-down-fill text-danger" style="font-size: 2rem;"></i>
        <span class="p-2"> {{numUnlike}} </span>
      </button>
    </div>
  </div>

</div>


