

<carousel [loop]="true" [autoplay]="true"  [height]="500" [cellWidth]="500" style="z-index: 0;">

  <div  class="carousel-cell container-carroussel" *ngFor="let image of images">
      <img src="{{image['lien_image']}}"  alt="{{image['short']}}" title="{{image['title']}}">
      <div class="to-center">
        {{image['short']}}
      </div>
  </div>

</carousel>
