<nav class="navbar navbar-expand-lg bg-info fixed-top mb-4" style="z-index: 1000;">
  <div class="container-fluid">
    <a class="navbar-brand title-decoration" [routerLink]="['/home']">{{ siteName }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#actualites">Actualites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#insolites">Insolites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#lebuzz">Le Buzz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#aproposdenous">A propos de nous</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
